<mat-nav-list class="side">
    <div class="profile-card mt-3">
    <div class="header">
        <h5 style="color: white;">Welcome To Payroll</h5>
    </div>
    <img src="assets/Images/avatar.png" />

</div>
<mat-divider style="background-color: white;"></mat-divider>
<h2 matSubheader style="color: white;">Pages</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink='/default/dashboard' style="color: white;"><mat-icon>dashboard</mat-icon>Dashboard</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/default/employee' style="color: white;"><mat-icon>supervisor_account</mat-icon>Employee</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/default/investplanned' style="color: white; margin-top: 2rem;"><mat-icon>credit_card</mat-icon>Investment Declaration Details Of Employee Planned</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/default/investactual' style="color: white; margin-top: 2rem;"><mat-icon>compare_arrows</mat-icon>Investment Declaration Details Of Employee Actual</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/default/taxrate' style="color: white; margin-top: 2rem;"><mat-icon> local_atm</mat-icon>Tax Rate</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/default/salary' style="color: white;"><mat-icon> money</mat-icon>Salary</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/default/salarystatus' style="color: white;"><mat-icon> edit_location</mat-icon>Salary Status</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/default/leavemanage' style="color: white;"><mat-icon>time_to_leave</mat-icon>Leave Management</a>
<br>




</mat-nav-list>