<div class="container shadow-lg p-5 mb-5 bg-white rounded" style="border: 2px solid blue;">
  <div class=" mt-3">
      <p class="font-weight-bold text-center" style="font-size: xx-large;"> DEDUCTION UNDER SECTION 80C (Max Rs.1,50,000/-)</p>
  </div>
  <mat-divider style="background-color: black;"></mat-divider>

  <form action="">
      <div class="form-row mt-5">
          <div class="col-md-6">
          <div class="form-group col-md-10 mt-3">
            <label for="epf">EPF & VPF Contribution</label>
            <input type="text" class="form-control" placeholder="EPF & VPF">
          </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
          <div class="form-group col-md-10 mt-3">
            <label for="newpen"> New Pension Scheme (NPS) (u/s 80CCC)</label>
            <input type="text" class="form-control" placeholder="New Pension Scheme">
          </div>
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-6">
          <div class="form-group col-md-10 mt-3">
            <label for="ppf">Public Provident Fund (PPF)</label>
            <input type="text" class="form-control" placeholder="PPF">
          </div>
          </div>
          <div class="col-md-6  d-flex justify-content-center">
          <div class="form-group col-md-10 mt-3">
            <label for="pensi">Pension Plan from Insurance Companies/Mutual Funds (u/s 80CCC)</label>
            <input type="text" class="form-control" placeholder="Pension Plan">
          </div>
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-6">
          <div class="form-group col-md-10 mt-3">
            <label for="scss">Senior Citizen’s Saving Scheme (SCSS)</label>
            <input type="text" class="form-control" placeholder="scss">
          </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
          <div class="form-group col-md-10 mt-3">
            <label for="80ccd"> 80 CCD Central Govt. Employees Pension Plan (u/s 80CCD)</label>
            <input type="text" class="form-control" placeholder="80 CCD">
          </div>
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-6">
          <div class="form-group col-md-10 mt-3">
            <label for="nsc">N.S.C (Investment + accrued Interest before Maturity Year)</label>
            <input type="text" class="form-control" placeholder="nsc">
          </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
          <div class="form-group col-md-10 mt-3">
            <label for="housing"> Housing. Loan (Principal Repayment)</label>
            <input type="text" class="form-control" placeholder="Housing Loan">
          </div>
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-6">
          <div class="form-group col-md-10 mt-3">
            <label for="tax">Tax Saving Fixed Deposit (5 Years and above)</label>
            <input type="text" class="form-control" placeholder="Fixed Deposit">
          </div>
          </div>
          <div class="col-md-6  d-flex justify-content-center">
          <div class="form-group col-md-10 mt-3">
            <label for="SukanyaSamriddhi"> SukanyaSamriddhi Account</label>
            <input type="text" class="form-control" placeholder="SukanyaSamriddhi">
          </div>
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-6">
          <div class="form-group col-md-10 mt-3">
            <label for="tax">Tax Savings Bonds</label>
            <input type="text" class="form-control" placeholder="Tax Savings Bonds">
          </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
          <div class="form-group col-md-10 mt-3">
            <label for="Stamp Duty "> Stamp Duty & Registration Charges</label>
            <input type="text" class="form-control" placeholder="Stamp Duty ">
          </div>
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-6">
          <div class="form-group col-md-10 mt-3">
            <label for="E.L.S.S">E.L.S.S (Tax Saving Mutual Fund)</label>
            <input type="text" class="form-control" placeholder="E.L.S.S">
          </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
          <div class="form-group col-md-10 mt-3">
            <label for="Tuition fees"> Tuition fees for 2 children</label>
            <input type="text" class="form-control" placeholder="Tuition fees">
          </div>
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-6">
          <div class="form-group col-md-10 mt-3">
            <label for="Life Insurance"> Life Insurance Premiums</label>
            <input type="text" class="form-control" placeholder="Life Insurance">
          </div>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
          <label style="align-self: center; font-size: large;" class="mt-3">Total Amount</label>
      </div>
      <div class="d-flex justify-content-center">
          <input type="text" class="form-control mt-3 col-4" placeholder="Amount">
      </div>

      <div class="mt-5">
          <p class="font-weight-bold text-center" style="font-size: xx-large;"> DEDUCTION UNDER CHAPTER VI A</p>
      </div>
      <mat-divider style="background-color: black;"></mat-divider>

      <div class="form-row mt-5">
          <div class="col-md-6">
          <div class="form-group col-md-10 mt-3">
            <label for="80d"> 80 D Medical Insurance Premiums (for Self )</label>
            <input type="text" class="form-control" placeholder="80 D Medical Insurance">
          </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
          <div class="form-group col-md-10 mt-3">
            <label for="80 DDB Expenditure"> 80 DDB Expenditure on Selected Medical Treatment for Self/ Dependent</label>
            <input type="text" class="form-control" placeholder="80 DDB Expenditure">
          </div>
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-6">
          <div class="form-group col-md-10 mt-3">
            <label for="80dmed">80 D Medical Insurance premiums (for Parents)</label>
            <input type="text" class="form-control" placeholder="80 D Medical Insurance parents">
          </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
          <div class="form-group col-md-10 mt-3">
            <label for=" approved funds">80G, 80GGA, 80GGC Donation to approved funds</label>
            <input type="text" class="form-control" placeholder=" approved funds">
          </div>
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-6">
          <div class="form-group col-md-10 mt-3">
            <label for="Education">80 E Intial Paid on Education Loan</label>
            <input type="text" class="form-control" placeholder="Education Loan">
          </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
          <div class="form-group col-md-10 mt-3">
            <label for=" 80GG For Rent">80GG For Rent in Case of NO HRA Component (Budget 2016)</label>
            <input type="text" class="form-control" placeholder=" 80GG For Rent">
          </div>
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-6">
          <div class="form-group col-md-10 mt-3">
            <label for="80 DD Medical Treatment">80 DD Medical Treatment of Handicapped Dependent</label>
            <input type="text" class="form-control" placeholder="80 DD Medical Treatment">
          </div>
          </div>
        </div>

        <div class="form-row mt-5">
          <div class="col-md-6 mt-3  d-flex justify-content-center">
            <div class="col-md-7 mb-3 ">
              <button type="button" class="btn btn-lg btn-block  btn-primary">Create</button>
            </div>
          </div>
          <div class="col-md-6 mt-3 d-flex justify-content-center">
            <div class="col-md-7 mb-3"> 
              <button type="button" class="btn btn-danger btn-block  btn-lg">Cancel</button>          
              </div>
          </div>
        </div>
  </form>
</div>