<div class="container-fluid bg-white">
    <div>
        <div class="card-deck">
            <div class="card shadow-lg p-3 mb-5 rounded back">
                <div class="text-center">
                    <img src="assets\Images\meeting.png" class="image">
                    <a routerLink="/default/creleav" style="text-decoration: none;"><h4 class="text-light"> Create Leave For Employee</h4></a>
                </div>
            </div>
            <div class="card shadow-lg p-3 mb-5 rounded back">
                <div class="text-center">
                    <img src="assets\Images\paper.png" class="image">
                    <a routerLink="/default/leavdet" style="text-decoration: none; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><h4 class="text-light">Leave Details Of Employee</h4></a>
                </div>
            </div>
        </div>
</div>