<div class="container shadow-lg p-5 mb-5 rounded" style="border: 2px solid blue;">
    <div>
        <p class="font-weight-bold text-center" style="font-size: xx-large;">CONTACT US</p>
    </div>
    <mat-divider style="background-color: black;"></mat-divider>

    <form action="">
        <div class="form-row mt-5">
            <div class="col-md-6">
            <div class="form-group col-md-10 mt-3">
              <label for="fn">First Name<sup class="supp">*</sup></label>
              <input type="text" class="form-control" placeholder="First Name">
            </div>
            </div>
            <div class="col-md-6  d-flex justify-content-center">
            <div class="form-group col-md-10 mt-3">
              <label for="ln">Last Name<sup class="supp">*</sup></label>
              <input type="text" class="form-control" placeholder="Last Name">
            </div>
            </div>
          </div>

          <div class="form-row mt-5">
            <div class="col-md-6">
            <div class="form-group col-md-10 mt-3">
              <label for="ea">Email Address<sup class="supp">*</sup></label>
              <input type="email" class="form-control" placeholder="exampl@xyz.com">
            </div>
            </div>
            <div class="col-md-6  d-flex justify-content-center">
            <div class="form-group col-md-10 mt-3">
              <label for="subject">Subject<sup class="supp">*</sup></label>
              <input type="text" class="form-control" placeholder=" Subject">
            </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-12 d-flex justify-content-center">
            <div class="form-group col-md-11 mt-3">
              <label for="mess">Message</label>
              <textarea class="form-control" rows="4" style="border: 1px solid blue;"></textarea>
            </div>
            </div>
          </div>

          <div class="form-row mt-5">
            <div class="col-md-6 mt-3  d-flex justify-content-center">
              <div class="col-md-7 mb-3 ">
                <button type="button" class="btn btn-lg btn-block  btn-primary">Send</button>
              </div>
            </div>
            <div class="col-md-6 mt-3 d-flex justify-content-center">
              <div class="col-md-7 mb-3"> 
                <button type="button" class="btn btn-danger btn-block  btn-lg">Cancel</button>          
                </div>
            </div>
          </div>
    </form>
</div>