<div class="container shadow-lg p-5 mb-5 rounded" style="border: 2px solid blue;">
    <div class="">
        <p class="font-weight-bold text-center" style="font-size: xx-large;">CHANGE PASSWORD</p>
    </div>
    <mat-divider style="background-color: black;"></mat-divider>

<form action="">
    <div class="form-row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
        <div class="form-group col-md-6 mt-3">
          <label for="cp">Current Password</label>
          <input type="text" class="form-control" placeholder="Current Password">
        </div>
    </div>    
      </div>

      <div class="form-row mt-2">
        <div class="col-md-12 d-flex justify-content-center">
        <div class="form-group col-md-6 mt-3">
          <label for="mnp">New Password</label>
          <input type="text" class="form-control" placeholder="New Password">
        </div>
    </div>    
      </div>

      <div class="form-row mt-2">
        <div class="col-md-12 d-flex justify-content-center">
        <div class="form-group col-md-6 mt-3">
          <label for="cp">Confirm Password</label>
          <input type="text" class="form-control" placeholder="Confirm Password">
        </div>
    </div>    
      </div>

      <div class="form-row mt-5">
        <div class="col-md-6 mt-3  d-flex justify-content-center">
          <div class="col-md-7 mb-3 ">
            <button type="button" class="btn btn-lg btn-block  btn-primary">Save</button>
          </div>
        </div>
        <div class="col-md-6 mt-3 d-flex justify-content-center">
          <div class="col-md-7 mb-3"> 
            <button type="button" class="btn btn-danger btn-block  btn-lg">Cancel</button>          
            </div>
        </div>
      </div>
</form>

    </div>
