<div class="container-fluid bg-white">
    <div>
        <div class="card-deck">
            <div class="card shadow-lg p-3 mb-5 rounded back">
                <div class="text-center">
                    <img src="assets\Images\hand.png" class="image">
                    <a routerLink="/default/approvleave" style="text-decoration: none;"><h4 class="text-light"> Approved Leave Status Of Employees</h4></a>
                </div>
            </div>
            <div class="card shadow-lg p-3 mb-5 rounded back">
                <div class="text-center">
                    <img src="assets\Images\reject.png" class="image">
                    <a routerLink="/default/rejectleave" style="text-decoration: none; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><h4 class="text-light"> Rejected Leave Status Of Employees</h4></a>
                </div>
            </div>
        </div>
</div>