<div class="container shadow-lg p-5 mb-5 bg-white rounded" style="border: 2px solid blue;">
    <div>
        <p class="font-weight-bold text-center" style="font-size: xx-large;">USER DETAILS</p>
    </div>
    <mat-divider style="background-color: black;"></mat-divider>

    <div class="form-row mt-4">
        <div class="col-3 offset-1">
            <div class="form-group">
                <label class="font-weight-bold fon">Username:</label>
            </div>
        </div>
        <div class="">
            <div class="form-group">
                <label class="font-weight-bold fon">Admin</label>
            </div>
        </div>
    </div>

    <div class="form-row mt-4">
        <div class="col-3 offset-1">
            <div class="form-group">
                <label class="font-weight-bold fon">Designation:</label>
            </div>
        </div>
        <div class="">
            <div class="form-group">
                <label class="font-weight-bold fon">Trainee</label>
            </div>
        </div>
    </div>

    <div class="form-row mt-4">
        <div class="col-3 offset-1">
            <div class="form-group">
                <label class="font-weight-bold fon">Emai:</label>
            </div>
        </div>
        <div class="">
            <div class="form-group">
                <label class="font-weight-bold fon">manjunathramesh4@gmail.com</label>
            </div>
        </div>
    </div>

    <div class="form-row mt-4">
        <div class="col-3 offset-1">
            <div class="form-group">
                <label class="font-weight-bold fon">Phone Number:</label>
            </div>
        </div>
        <div class="">
            <div class="form-group">
                <label class="font-weight-bold fon">8867883796</label>
            </div>
        </div>
    </div>

    <div class="form-row mt-4">
        <div class="col-3 offset-1">
            <div class="form-group">
                <label class="font-weight-bold fon">Registration Date:</label>
            </div>
        </div>
        <div class="">
            <div class="form-group">
                <label class="font-weight-bold fon">31/03/1996</label>
            </div>
        </div>
    </div>
   
</div>