<div class="container-fluid h-100 p-5" style="background-color: black;">
    <p class="font-weight-bold display-4 text-center text-white">WELCOME TO PAYROLL</p>
    <div class="container bg-white shadow-lg p-5 mb-5 bg-white" style="border-radius: 5rem;">
        <div class="form-row">
            <div class="col-md-6">
              <div class="col-md-10 mb-3 d-flex justify-content-center">
                <img src="assets\Images\logo.gif" class="image mt-4">
              </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <div class="col-md-10 mb-3 mt-5"> 
                <p class="d-flex justify-content-center" style="font-size: xx-large;">LOGIN</p>      
                <label for="username" class="mt-3">USERNAME</label>
                <input type="text" class="form-control">

                <label for="pass" class="mt-3">PASSWORD</label>
                <input type="password" class="form-control">
                <div class="mt-4">
                <button type="button" class="btn btn-primary col-6  btn-lg" (click)=valid();>Login</button>
                <button type="button" class="btn btn-danger col-5 btn-lg float-right" style="font-size: 18px;">Forgot Password</button>
              </div>
                </div>
            </div>
          </div>  
          </div>
</div>